@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
    </div>
        <div class="content px-4">
            <div class="logo-content">
                <img src="/assets/images/logo.png" alt="logo">
                <div>
                    <span class="emp-text">Employee</span><br>
                    <span class="emp-text emp-payroll">Payroll</span>
                </div>
            </div>
            @Body
        </div>
    </div>
