@page "/EmpHome"
    <table id="display" class="table">
        <tr>
            <th></th>
            <th> Name</th>
            <th>Gender</th>
            <th>Department</th>
            <th>Salary</th>
            <th>Start Date</th>
        </tr>
    </table> 
@code {

    }
